<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
	<div class="card h-100" style="height : 430px;">
		<div class="img11">
			<img src="{{ asset('images/background-card.svg' ) }}" alt="">
		</div>
		<div class="img22">
			<img src="{{ profilePicture  }}" alt="{{ nom }}">
		</div>
		<div class="main-texte">
			<h2>{{ nom }}</h2>
			<h3>{{ fonction}}</h3>
			<p>{{ presentationMember }}</p>
		</div>
		<div class="linkedin">
			<a href="{{linkedin}}" target="_blank">
				<i class="fa fa-linkedin"></i>
			</a>
		</div>
	</div>
</div>