{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	<div class="container-xl">

		<div class="row">
			<h1>Se connecter</h1>
		</div>

		<div class="row">
			<div class="col">
				<p>Seuls les professionnels peuvent se créer un compte. Pour les particuliers, nous vous proposons de vous inscrire à la newsletter.</p>
				<p>Si vous êtes un professionnel et que vous n’avez pas encore de compte, cliquez
					<a href="{{path("app_register")}}">
						<span class="ici">ici</a>
					</span>.</p>
			</div>
		</div>

		<div class="py-5 h-100 form-connexion">
			<div class="row d-flex h-100">
				<div class="col-12 col-md-8">
					<div class="card card-login">
						<div class="row">
							<div class="col-lg-12">
								<div class="card-body p-md-5 mx-md-4">

									{{form_start(formView)}}
									<div class="row">
										<div class="col-12 col-sm-6">
											<div class="form-outline mb-4">
												{{form_label(formView.email)}}
												{{form_widget(formView.email)}}
											</div>
										</div>
										<div class="col-12 col-sm-6">
											<div class="form-outline mb-4">
												{{form_label(formView.password)}}
												{{form_widget(formView.password)}}
											</div>
										</div>
									</div>

									<div class="mt-2 mb-1 pb-1 d-flex flex-row-reverse">
										<button type="submit" class="btn btn-primary">
											Se connecter</button>
									</div>
									{{form_end(formView)}}</div>
							</div>
						</div>
					</div>
					<div class="text-center mb-5 pb-1">
						<a class="text-muted d-flex flex-row-reverse" href="#!">Mot de passe oublié ?</a>
					</div>
				</div>
			</div>
		</div>


	</div>
{% endblock %}
