{{ form_start(form) }}
{{ form_row(form.email, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.roles, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.prenom, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.nom, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.telephone, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.pays, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.adresse, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.complementAdresse, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.ville, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.codePostal, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.newsletter) }}
{{ form_row(form.nomSociete, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.fonction, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.isConfirmed) }}
<p>
    <strong>Date de création :</strong>
    {% if user.createdAt %}
        {{ user.createdAt|date('d/m/Y H:i') }}
    {% else %}
        Non renseignée
    {% endif %}<br>

    <strong>Date de consentement :</strong>
    {% if user.consentAt %}
        {{ user.consentAt|date('d/m/Y H:i') }}
    {% else %}
        Non renseignée
    {% endif %}
</p>
<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
