{# {% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}

	<div class="container-xxl admin">
		<h1>User index</h1>
		<div class="fix-width">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Email</th>
						<th>Roles</th> #}
						{# <th>Password</th> #}
						{# <th>Prenom</th>
						<th>Nom</th>
						<th>Telephone</th>
						<th>Pays</th>
						<th>Adresse</th>
						<th>ComplementAdresse</th>
						<th>Ville</th>
						<th>CodePostal</th>
						<th>Newsletter</th>
						<th>NomSociete</th>
						<th>Fonction</th>
						<th>IsConfirmed</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.id }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
							{# <td>{{ user.password }}</td> #}
							{# <td>{{ user.prenom }}</td>
							<td>{{ user.nom }}</td>
							<td>{{ user.telephone }}</td>
							<td>{{ user.pays }}</td>
							<td>{{ user.adresse }}</td>
							<td>{{ user.complementAdresse }}</td>
							<td>{{ user.ville }}</td>
							<td>{{ user.codePostal }}</td>
							<td>{{ user.newsletter ? 'Yes' : 'No' }}</td>
							<td>{{ user.nomSociete }}</td>
							<td>{{ user.fonction }}</td>
							<td>{{ user.isConfirmed ? 'Yes' : 'No' }}</td>
							<td>
								<a href="{{ path('app_admin_crud_user_show', {'id': user.id}) }}">show</a>
								<a href="{{ path('app_admin_crud_user_edit', {'id': user.id}) }}">edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="17">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<a href="{{ path('app_admin_crud_user_new') }}">Create new</a>
	</div>
{% endblock %} #}




















{% extends 'base.html.twig' %}

{% block title %}Gestionnaire des utilisateurs
{% endblock %}

{% block body %}

	<div class="container-xxl admin">
		<h1>Gestionnaire des utilisateurs</h1>

		<a href="{{ path('app_admin_crud_user_new') }}">Créer un nouvel utilisateur</a>
		<p><br></p>

		<div class="row">
			{% for user in users %}
				<div class="col-6">
					<p><strong>Id : </strong>{{ user.id }}</p>
					<p><strong>Email :</strong> {{ user.email }}</p>
					<p><strong>Roles :</strong> {{ user.roles ? user.roles|json_encode : '' }}</p>
					<p><strong>Prenom :</strong> {{ user.prenom }}</p>
					<p><strong>Nom : </strong>{{ user.nom }}</p>
					<p><strong>Telephone:</strong> {{ user.telephone }}</p>
					<p><strong>Pays : </strong>{{ user.pays }}</p>
					<p><strong>Adresse :</strong> {{ user.adresse }}</p>
					<p><strong>Complement d'adresse :</strong> {{ user.complementAdresse }}</p>
					<p><strong>Ville :</strong> {{ user.ville }}</p>
					<p><strong>Code postal :</strong> {{ user.codePostal }}</p>
					<p><strong>Newsletter :</strong> {{ user.newsletter ? 'Yes' : 'No' }}</p>
					<p><strong>Nom société :</strong> {{ user.nomSociete }}</p>
					<p><strong>Fonction :</strong> {{ user.fonction }}</p>
					<p><strong>Is Confirmed ? :</strong> {{ user.isConfirmed ? 'Yes' : 'No' }}</p>
					<p>
						<a href="{{ path('app_admin_crud_user_show', {'id': user.id}) }}">show</a>
						<a href="{{ path('app_admin_crud_user_edit', {'id': user.id}) }}">edit</a>
					</p>
					<br>
				</div>
			{% else %}
				<p>no records found</p>
			{% endfor %}
		</div>
			
		
	</div>
{% endblock %}
