{% extends 'admin.html.twig' %}

{% block title %}Gestionnaire des utilisateurs
{% endblock %}

{% block body %}

	<div class="container-xl">
		<h4>Gestionnaire des utilisateurs</h4>

		{% if pagination.items %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Roles</th>
						<th>Prenom</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in pagination.items %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
							<td>{{ user.prenom }}</td>
							<td>{{ user.nom }}</td>
                            <td>
                                <a href="{{ path('app_admin_crud_user_show', {'id': user.id}) }}" class="btn btn-outline-primary btn-sm">Voir</a>
                                <a href="{{ path('app_admin_crud_user_edit', {'id': user.id}) }}" class="btn btn-outline-primary btn-sm">Éditer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="d-flex justify-content-center my-5">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p>no records found</p>
        {% endif %}
	</div>
{% endblock %}
