{{form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
{{ form_errors(form) }}
{{ form_row(form.libelle) }}
{{ form_row(form.slug) }}
{{ form_row(form.description) }}
{{ form_row(form.texteDeFin) }}
{{ form_row(form.rang) }}
{{ form_row(form.metaDesc) }}
<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}