{% extends 'base.html.twig' %}

{% block title %}Liste des catégories
{% endblock %}

{% block body %}
	<h1>Liste des catégories</h1>

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>Libelle</th>
				<th>Image</th>
				<th>Slug</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for categorie in categories %}
				<tr>
					<td>{{ categorie.id }}</td>
					<td>{{ categorie.libelle }}</td>
					<td>{{ categorie.image }}</td>
					<td>{{ categorie.slug }}</td>
					<td>
						<a href="{{ path('app_admin_crud_categorie_show', {'id': categorie.id}) }}">show</a>
						<a href="{{ path('app_admin_crud_categorie_edit', {'id': categorie.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_admin_crud_categorie_new') }}">Créer une nouvelle catégorie</a>
{% endblock %}
