{% extends 'admin.html.twig' %}

{% block title %}Gestionnaire des catégories
{% endblock %}

{% block body %}

	<div class="container-xl">
		<h4>Gestionnaire des catégories</h4>

		<a href="{{ path('app_admin_crud_categorie_new') }}" class="btn btn-primary mb-3">Créer une nouvelle catégorie</a>

		{% if pagination.items %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Libelle</th>
                        <th>Slug</th>
						<th>Rang</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categorie in pagination.items %}
                        <tr>
                            <td>{{ categorie.id }}</td>
                            <td>{{ categorie.libelle }}</td>
                            <td>{{ categorie.slug }}€ HT</td>
							<td>{{ categorie.rang }}</td>
                            <td>
                                <a href="{{ path('app_admin_crud_categorie_show', {'id': categorie.id}) }}" class="btn btn-outline-primary btn-sm">Voir</a>
                                <a href="{{ path('app_admin_crud_categorie_edit', {'id': categorie.id}) }}" class="btn btn-outline-primary btn-sm">Éditer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="d-flex justify-content-center my-5">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p>Aucune catégorie trouvée.</p>
        {% endif %}
	</div>
{% endblock %}
