{% extends 'base.html.twig' %}

{% block title %}Gestionnaire des catégories
{% endblock %}

{% block body %}

	<div class="container-xl">
		<h1>Gestionnaire des catégories</h1>

		<a href="{{ path('app_admin_crud_categorie_new') }}">Créer une nouvelle catégorie</a>
		<p><br></p>

		<div class="row">


			{% for categorie in categories %}
				<div class="col-6">
					<p>
						<strong>Id :</strong>
						{{ categorie.id }}
					</p>
					<p>
						<strong>Libelle :</strong>
						{{ categorie.libelle }}
					</p>
					<p>
						<strong>Image :</strong>
						{{ categorie.image }}
					</p>
					<p>
						<strong>Slug :</strong>
						{{ categorie.slug }}
					</p>
					<p>
						<strong>Description :</strong>
						{{ categorie.description|slice(0, 40) ~ '...' }}
					</p>
					<p>
						<strong>Texte de fin :</strong>
						{{ categorie.texteDeFin }}
					</p>
					<p>
						<strong>Rang :</strong>
						{{ categorie.rang }}
					</p>
					<p>
						<strong>Meta description</strong>
						{{ categorie.metaDesc }}
					</p>
					<p>
						<a href="{{ path('app_admin_crud_categorie_show', {'id': categorie.id}) }}">show</a>
						<a href="{{ path('app_admin_crud_categorie_edit', {'id': categorie.id}) }}">edit</a>
					</p>
					<br>
				</div>
			{% else %}
				<td colspan="5">no records found</td>
			{% endfor %}
		</div>
	</div>
{% endblock %}
