{% extends 'admin.html.twig' %}

{% block title %}Gestionnaire des utilisations
{% endblock %}

{% block body %}
	<div class="container-xl">
		<h4>Gestionnaire des utilisations (sous catégories)</h4>

		<a href="{{ path('app_admin_crud_utilisation_new') }}" class="btn btn-primary mb-3">Créer un nouveau type d'utilisation</a>

		{% if pagination.items %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Libelle</th>
                        <th>Slug</th>
						<th>Catégorie</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for utilisation in pagination.items %}
                        <tr>
                            <td>{{ utilisation.id }}</td>
                            <td>{{ utilisation.libelle }}</td>
                            <td>{{ utilisation.slug }}</td>
							<td>{{ utilisation.categorie.libelle }}</td>
                            <td>
                                <a href="{{ path('app_admin_crud_utilisation_show', {'id':utilisation.id}) }}" class="btn btn-outline-primary btn-sm">Voir</a>
                                <a href="{{ path('app_admin_crud_utilisation_edit', {'id':utilisation.id}) }}" class="btn btn-outline-primary btn-sm">Éditer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="d-flex justify-content-center my-5">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p>Aucune sous catégorie trouvée.</p>
        {% endif %}
	</div>
{% endblock %}
