{% extends 'base.html.twig' %}

{% block title %}Gestionnaire des utilisations
{% endblock %}

{% block body %}
	<div class="container-xl">
		<h1>Gestionnaire des utilisations (sous catégories)</h1>

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Libelle</th>
					<th>Image</th>
					<th>Slug</th>
					<th>Categorie</th>
					<th>Meta description</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for utilisation in utilisations %}
					<tr>
						<td>{{ utilisation.id }}</td>
						<td>{{ utilisation.libelle }}</td>
						<td>{{ utilisation.image }}</td>
						<td>{{ utilisation.slug }}</td>
						<td>{{ utilisation.categorie.libelle }}</td>
						<td>{{ utilisation.metaDesc }}</td>
						<td>
							<a href="{{ path('app_admin_crud_utilisation_show', {'id': utilisation.id}) }}">show</a>
							<a href="{{ path('app_admin_crud_utilisation_edit', {'id': utilisation.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_admin_crud_utilisation_new') }}">Créer un nouveau type d'utilisation</a>
	</div>
{% endblock %}
