{{form_start(form)}}
    {{ form_errors(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.sousTitre) }}
    {{ form_row(form.titreSlug) }}
    {{ form_row(form.contenu) }}
    {{ form_row(form.image) }}

    {{ form_row(form.metaDesc) }}
    {{ form_row(form.date) }}
    {{ form_row(form.auteur) }}

<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}