{% extends 'admin.html.twig' %}

{% block title %}Gestionnaire des actualités
{% endblock %}

{% block body %}
	<div class="container-xl">
		<h4>Gestionnaire des actualités</h4>

		<a href="{{ path('app_admin_crud_news_new') }}" class="btn btn-primary mb-3">Créer une nouvelle actualité</a>

		{% if pagination.items %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Date</th>
						<th>Auteur</th>
                        <th>Brouillon</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for actu in pagination.items %}
                        <tr>
                            <td>{{ actu.id }}</td>
                            <td>{{ actu.titre }}</td>
                            <td>{{ actu.date ? actu.date|date('Y-m-d') : '' }}</td>
							<td>{{ actu.auteur }}</td>
                            <td>{{ actu.isDraft ? 'Oui' : 'Non' }}</td>
                            <td>
                                <a href="{{ path('app_admin_crud_news_show', {'id': actu.id}) }}" class="btn btn-outline-primary btn-sm">Voir</a>
                                <a href="{{ path('app_admin_crud_news_edit', {'id': actu.id}) }}" class="btn btn-outline-primary btn-sm">Éditer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="d-flex justify-content-center my-5">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p>no records found</p>
        {% endif %}

	</div>
{% endblock %}
