{% extends 'admin.html.twig' %}

{% block title %}Actualités
{% endblock %}

{% block body %}

	<div class="container-xl">
		<h1>Actualités</h1>

		<p>En raison de sa taille, le contenu des actualités ne peut être affiché dans le tableau. Pour découvrir le contenu des actualités, veuillez cliquer sur "edit" dans la colonne "actions".</p>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ news.id }}</td>
				</tr>
				<tr>
					<th>Titre</th>
					<td>{{ news.titre }}</td>
				</tr>
				<tr>
					<th>Slug du titre</th>
					<td>{{ news.titreSlug }}</td>
				</tr>
				<tr>
					<th>SousTitre</th>
					<td>{{ news.sousTitre }}</td>
				</tr>
				<tr>
					<th>Contenu</th>
					<td>{{ news.contenu | raw }}</td>
				</tr>
				<tr>
					<th>Image</th>
					<td>{{ news.image }}</td>
				</tr>
				<tr>
					<th>Date</th>
					<td>{{ news.date ? news.date|date('Y-m-d') : '' }}</td>
				</tr>
				<tr>
					<th>Auteur</th>
					<td>{{ news.auteur }}</td>
				</tr>
				<tr>
					<th>Meta description</th>
					<td>{{ news.metaDesc }}</td>
				</tr>
				<tr>
					<th>Date création article ou de dernière mise à jour</th>
				    <td>{{ news.date|date('d/m/Y') }}</td>
				</tr>
				<tr>
					<th>Est-ce un brouillon ?</th>
					<td>{{ news.isDraft ? 'Oui' : 'Non' }}</td>
				</tr>

			</tbody>
		</table>

		<a href="{{ path('app_admin_crud_news_index') }}">Retour à la liste des actualités</a>

		<a href="{{ path('app_admin_crud_news_edit', {'id': news.id}) }}">Éditer</a>

		{{ include('admin_crud_news/_delete_form.html.twig') }}
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.tiny.cloud/1/l0pzn1807q2e1dmwlw0ejix4dbjl5om7kcztlm43h6k72f8h/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
	<script src="{{ asset('js/tinymce-news.js') }}"></script>
{% endblock %}