{% extends 'base.html.twig' %}

{% block title %}Actualités
{% endblock %}

{% block body %}
	<div class="container-xl">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{path('homepage')}}">Accueil</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Actualités</li>
			</ol>
		</nav>

		<div class="actualites">
			{% for index, item in listNews %}
				<h2>
					<a href="{{ path('app_actu_show', {'id' : item.id}) }}">{{ item.titre }}</a>
				</h2>
				<h3 style="padding: 0">{{ item.sousTitre }}</h3>
				<p class="date">{{ item.date|date('Y-m-d') }}</p>
				<p class="auteur">{{ item.auteur }}</p>
				{% if index < listNews|length-1 and listNews[index+1] is defined %}
					<div class="separator"></div>
				{% endif %}
			{% endfor %}
		</div>


	</div>
{% endblock %}
