{% extends 'base.html.twig' %}

{% block title %}
	{{news.titre}}
{% endblock %}

{% block meta %}
	{% if news.metaDesc is not null %}
		<meta name="description" content="{{ news.metaDesc }}">
	{% endif %}
{% endblock %}

{% block body %}

	<div class="container-xl">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{path('homepage')}}">Accueil</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('app_actu') }} ">Actualités</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">{{news.titre}}</li>
			</ol>
		</nav>

		<div class="actu">

			<h2>{{ news.titre }}</h2>
			<h4>{{ news.sousTitre }}</h4>
			{% if news.image is not null %}
				<img class="actu-image mb-3" src="{{ asset('images/actu/' ~ news.image ) }}" alt="" srcset="">
			{% endif %}
			<p>{{ news.contenu|nl2br  }}</p>
			<p class="date">{{ news.date|date('Y-m-d') }}</p>

			<p class="auteur">{{ news.auteur }}</p>

		</div>

	</div>
{% endblock %}
