<div style="padding: 50px" class="row">
	<iframe class="youtube" width="430" height="315" src="{{youtube}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="row">
	<div class="col-1">
		<img class="logo" src="{{asset('images/website-logo.svg')}}" alt="">
	</div>
	<div class="col-auto">
		{{website}}
	</div>
</div>
<div class="row align-items-center">
	<div class="col-1">
		<img class="logo" src="https://picsum.photos/50/50" alt="">
	</div>
	<div class="col-auto">
		<div class="row">
			<div class="col-12">
				{{adresse}}
			</div>
		</div>
		<div class="row">
			<div class="row-12">
				{{codePostal}}
				{{ville}}
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				{{pays}}
			</div>
		</div>
	</div>
</div>
