<div class="row">
	<iframe width="430" height="315" src="{{youtube}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="row">
	<div class="col-1">
		<img class="logo" src="https://picsum.photos/50/50" alt="">
	</div>
	<div class="col-auto">
		{{website}}
	</div>
</div>
<div class="row">
	<div class="col-1">
		<img class="logo" src="https://picsum.photos/50/50" alt="">
	</div>
	<div class="col-auto">
		<div class="row">
			{{adresse}}
		</div>
		<div class="row">
			{{codePostal}}
			{{ville}}
		</div>
		<div class="row">
			{{pays}}
		</div>
	</div>
</div>
