{% extends 'base.html.twig' %}

{% block title %}
	{{produit.nom}}
{% endblock %}

{% block body %}

	<div class="container-xl">

		<div class="row">
			<div class="col-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{path('homepage')}}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_categorie', {'slug': produit.categorie.slug}) }} ">{{produit.categorie.libelle}}</a>
						</li>
						{# <li class="breadcrumb-item"> #}
						{# <a href="{{ path('app_utilisation', {'category_slug': produit.categorie.slug, 'utilisation_slug': produit.utilisation.slug}) }} ">{{produit.utilisation.libelle}}</a> #}
						{# </li> #}
							{% if produit.utilisation is not null %}
								<li class="breadcrumb-item"> <a href="{{ path('app_utilisation', {'category_slug': produit.categorie.slug, 'utilisation_slug': produit.utilisation.slug}) }}">
									{{ produit.utilisation.libelle }}
								</a>
							</li>
						{% endif %}
						<li class="breadcrumb-item active" aria-current="page">{{produit.nom}}</li>
					</ol>
				</nav>
			</div>
		</div>

		<div class="intro-produit">
			<h1>{{produit.nom}}</h1>
			<h5>
				<span class="badge bg-primary">{{produit.marque.libelle}}</span>
			</h5>
			<p>
				{{produit.shortDescription}}
			</p>
			<p>
				<a href="#menu">Voir plus d'informations ></a>
			</p>
		</div>

		{# gallery images produits #}
		<div class="gallery">
			<div class="row">
				<div class="col-12 col-lg-6 mb-1">
					<a href="{{ asset('images/prod/' ~ produit.image1 ) }}" data-lightbox="mygallery"><img src="{{ asset('images/prod/' ~ produit.image1 ) }}" alt="" class="img-fluid"></a>
				</div>
				<div class="col-12 col-lg-6 d-flex justify-content-between flex-column">
					<div class="row mb-1">
						<div class="col-12 col-sm-6">
							<a href="{{ asset('images/prod/' ~ produit.image2 ) }}" data-lightbox="mygallery" data-title><img src="{{ asset('images/prod/' ~ produit.image2 ) }}" alt="" class="img-fluid"></a>
						</div>
						<div class="col-12 col-sm-6">
							<a href="{{ asset('images/prod/' ~ produit.image3 ) }}" data-lightbox="mygallery" data-title><img src="{{ asset('images/prod/' ~ produit.image3 ) }}" alt="" class="img-fluid"></a>
						</div>
					</div>
					<div class="row mb-1">
						<div class="col-12 col-sm-6">
							<a href="{{ asset('images/prod/' ~ produit.image4 ) }}" data-lightbox="mygallery" data-title><img src="{{ asset('images/prod/' ~ produit.image4 ) }}" alt="" class="img-fluid"></a>
						</div>
						<div class="col-12 col-sm-6">
							<a href="{{ asset('images/prod/' ~ produit.image5 ) }}" data-lightbox="mygallery" data-title><img src="{{ asset('images/prod/' ~ produit.image5 ) }}" alt="" class="img-fluid"></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# <div class="sommaire" id="menu">
																								<ul>
																									<li><a href="#avantages">Avantages</a></li>
																									<li><a href="#description">Description</a></li>
																									<li><a href="#caracteristiques">Caractéristiques</a></li>
																									<li><a href="#video">Vidéos</a></li>
																									<li><a href="#documentation">Documentations</a></li>
																								</ul>
																							</div> #}

		<div class="sommaire d-none d-lg-flex justify-content-between mt-4">
			<a href="#avantages">Avantages</a>
			<a href="#description">Description</a>
			<a href="#caracteristiques">Caractéristiques</a>
			<a href="#video">Vidéos</a>
			<a href="#documentation">Documentations</a>
		</div>


		<div class="avantages" id="avantages">
			<h1>Avantages</h1>

			{% set advantages = produit	.avantages|split(';') %}

			{% for advantage in advantages %}
				<p>
					<i style="color: white" class="fa-solid fa-check"></i>
					{{ advantage }}</p>
			{% endfor %}

		</div>


		<div class="description" id="description">
			<h1>Description du produit</h1>
			{% for description in produit.description|split(';') %}
				<p>{{ description }}</p>
			{% endfor %}
		</div>

		<div class="caracteristiques" id="caracteristiques">
			<h1>Caractéristiques</h1>
			<table class="table table-striped">
				{% for caracteristique in produit.caracteristiques|split(';') %}
					<p>
						<i class="fa fa-caret-right" aria-hidden="true"></i>
						{{ caracteristique }}</p>
				{% endfor %}
			</table>
		</div>


		<div class="video" id="video">
			<h1>Vidéos</h1>
			<div class="row">
				{% if produit.video1 %}
					<div class="col-auto">
						<iframe width="444" height="250" src="{{produit.video1}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				{% endif %}
				{% if produit.video2 %}
					<div class="col-auto">
						<iframe width="444" height="250" src="{{produit.video2}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				{% endif %}

			</div>
			<p>Nous vous informons que Marconnet technologies™ dispose d’une chaîne youtube.</p>
			<p>N’hésitez pas à vous abonner et à activer les notifications pour ne rater aucune vidéo en cliquant
				<a href="https://www.youtube.com/channel/UCBVjkgVyozExIOlx5O40zxQ" target="_blank">ici</a>.</p>
		</div>

		<div class="documentation" id="documentation">
			{% if produit.ficheDescriptive %}
				<div class="doc">
					<p>
						<i class="fa-solid fa-download"></i>
						<a href="{{ asset('uploads/documents/fiche-descriptive-produit/' ~ produit.ficheDescriptive) }}" download="{{ produit.ficheDescriptive }}">
							Télécharger la fiche descriptive du produit</a>
					</p>
				</div>
			{% endif %}
			{% if produit.marque.catalogue %}
				<div class="doc">
					<p>
						<i class="fa-solid fa-download"></i>
						<a href="{{ asset('uploads/documents/fiche-descriptive-produit/' ~ produit.marque.catalogue) }}" download="{{ produit.marque.catalogue }}">
							Télécharger la fiche de la marque</a>
					</p>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
