{{form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
	{{ form_errors(form) }}
	<div class="row">
		<div class="col-6">
			{{ form_row(form.nom) }}
		</div>
		<div class="col-6">
			{{ form_row(form.prix) }}
		</div>
		<div class="col-6">{{ form_row(form.slug) }}</div>
		<div class="col-6">{{ form_row(form.marque) }}</div>
		<div class="col-12">
			{{ form_row(form.description) }}
		</div>
		<div class="col-12">{{ form_row(form.shortDescription) }}</div>
		<div class="col-6">{{ form_row(form.metaDesc) }}</div>
		<div class="col-6">{{ form_row(form.avantages) }}</div>
		<div class="col-6">{{ form_row(form.video1) }}</div>
		<div class="col-6">{{ form_row(form.video2) }}</div>
		<div class="col-6">{{ form_row(form.ficheDescriptive) }}</div>
		<div class="col-6">{{ form_row(form.motsCles) }}</div>
		<div class="col-6">{{ form_row(form.caracteristiques) }}</div>
		<div class="col-6">{{ form_row(form.categorie) }}</div>
		<div class="col-12">{{ form_row(form.utilisation) }}</div>
		<div class="col-12">{{ form_row(form.produitsSimilaires, {'attr' : {'size' : 20}}) }}</div>
	</div>
	
	
	

	{# Place for rendering the images #}
	<div id="image-collection" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}" data-new-image-index="{{ form.images|length }}">
		{% for imageForm in form.images %}
			<div class="image-form">
				{{ form_row(imageForm.url) }}
				{{ form_row(imageForm.alt) }}
				<button type="button" class="remove-image btn btn-outline-primary">Supprimer l'image</button>
			</div>
		{% endfor %}
	</div>

    <button type="button" id="add-image" class="btn btn-outline-primary mb-2 mt-2">Ajouter une image</button><br>
	<button class="btn btn-primary">
		{{ button_label|default('Save') }}
	</button>
{{ form_end(form) }}
