{{form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
	{{ form_errors(form) }}
	<div class="row">
		<div class="col-6">
			{{ form_row(form.nom, {'attr' : {'class' : 'form-control'}}) }}
		</div>
		<div class="col-6">
			{{ form_row(form.prix, {'attr' : {'class' : 'form-control'}}) }}
		</div>
		<div class="col-6">{{ form_row(form.slug, {'attr' : {'class' : 'form-control'}}) }}</div>
		<div class="col-6">{{ form_row(form.marque, {'attr' : {'class' : 'form-control'}}) }}</div>
		<div class="col-12">
			{{ form_row(form.description, {'attr' : {'class' : 'form-control'}}) }}
		</div>
		<div class="col-12">{{ form_row(form.shortDescription, {'attr' : {'class' : 'form-control'}}) }}</div>
		<div class="col-6">{{ form_row(form.metaDesc, {'attr' : {'class' : 'form-control'}}) }}</div>
		<div class="col-6">{{ form_row(form.avantages, {'attr' : {'class' : 'form-control'}}) }}</div>
		<div class="col-6">{{ form_row(form.video1, {'attr' : {'class' : 'form-control'}}) }}</div>
		<div class="col-6">{{ form_row(form.video2, {'attr' : {'class' : 'form-control'}}) }}</div>
		<div class="col-6">{{ form_row(form.ficheDescriptive, {'attr' : {'class' : 'form-control'}}) }}</div>
		<div class="col-6">{{ form_row(form.motsCles, {'attr' : {'class' : 'form-control'}}) }}</div>
		<div class="col-6">{{ form_row(form.caracteristiques, {'attr' : {'class' : 'form-control'}}) }}</div>
		<div class="col-6">{{ form_row(form.categorie, {'attr' : {'class' : 'form-control'}}) }}</div>
		<div class="col-12">{{ form_row(form.utilisation, {'attr' : {'class' : 'form-control'}}) }}</div>
		<div class="col-12">{{ form_row(form.produitsSimilaires, {'attr' : {'class' : 'form-control', 'size' : 20}}) }}</div>
	</div>
	
	
	

	{# Place for rendering the images #}
	<div id="image-collection" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
		{% for imageForm in form.images %}
			<div class="image-form">
				{{ form_row(imageForm.url) }}
				{{ form_row(imageForm.alt) }}
				<button type="button" class="remove-image btn btn-outline-primary">Supprimer l'image</button>
			</div>
		{% endfor %}
	</div>

    <button type="button" id="add-image" class="btn btn-outline-primary mb-2 mt-2">Ajouter une image</button><br>
	<button class="btn btn-primary">
		{{ button_label|default('Save') }}
	</button>
{{ form_end(form) }}
