{{ form_start(form) }}
{{ form_row(form.nom, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.prix, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.slug, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.marque, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.description, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.shortDescription, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.metaDesc, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.avantages, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.image1, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.image2, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.image3, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.image4, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.image5, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.video1, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.video2, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.ficheDescriptive, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.motsCles, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.caracteristiques, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.categorie, {'attr' : {'class' : 'form-control'}}) }}
{{ form_row(form.utilisation, {'attr' : {'class' : 'form-control'}}) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
