{% extends 'admin.html.twig' %}

{% block title %}Produit index
{% endblock %}

{% block body %}
    <div class="container-xl">
        <h4>Liste de nos produits</h4>

        <a href="{{ path('app_admin_crud_produit_new') }}" class="btn btn-primary mb-3">Créer un nouveau produit</a>

        {% if pagination.items %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prix</th>
						<th>Catégorie</th>
						<th>Brouillon</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produit in pagination.items %}
                        <tr>
                            <td>{{ produit.id }}</td>
                            <td>{{ produit.nom }}</td>
                            <td>{{ produit.prix }}€ HT</td>
							<td>{{ produit.categorie.libelle }}</td>
							<td>{{ produit.isDraft ? 'Oui' : 'Non' }}</td>
                            <td>
                                <a href="{{ path('app_admin_crud_produit_show', {'id': produit.id}) }}" class="btn btn-outline-primary btn-sm">Voir</a>
                                <a href="{{ path('app_admin_crud_produit_edit', {'id': produit.id}) }}" class="btn btn-outline-primary btn-sm">Éditer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="d-flex justify-content-center my-5">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p>Aucun produit trouvé.</p>
        {% endif %}
    </div>
{% endblock %}
