{% extends 'base.html.twig' %}

{% block title %}
	{{utilisation.libelle}}
{% endblock %}

{% block body %}

	<div class="container-xl">
		<div class="row">
			<div class="col-12">

				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{path('homepage')}}">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_categorie', {'slug': categorie.slug}) }} ">{{categorie.libelle}}</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">{{utilisation.libelle}}</li>
					</ol>
				</nav>

			</div>
		</div>


		<h1>{{utilisation.libelle}}</h1>
		<p>{{utilisation.description}}</p>
	</div>

	<div class="container-fluid" style="background-color: #F3F3F3; padding: 50px 0 !important;">
		<div class="container-xl">
			<div class="row">
				{% for p in categorie.produits %}
					{% if p.utilisation.slug == utilisation_slug %}
						<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
							{% include "product/_product_card.html.twig" %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
