{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="container-xl">

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{path('homepage')}}">Accueil</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Contact</li>
				</ol>
			</nav>

			<div class="row">
				<div class="col-12">
					<h2>Nous contacter</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<p>Besoin d’un renseignement ou d’un devis ? Faites-le nous savoir en remplissant ce formulaire. Nous vous recontacterons très prochainement.</p>
					<p>Vous pouvez également nous rendre visite sur place. Nos bureaux sont ouverts de 9h00 à 17h00, au 12 Rue des Longs Réages, 28230 Épernon.</p>
				</div>
			</div>

			<div class="row align-items-center contact-help">
				<div class="col-auto">
					<i class="fa-solid fa-phone fa-2xl" style="color: #0F434E"></i>
				</div>
				<div class="col-auto">
					<div class="row">
						<div class="col-12 contact-telephone">
							<p class="contact-telephone" style="font-size: 22px">Besoin d'aide ?</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<a class="contact-telephone" href="tel:+33245260170">02 45 26 01 70</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-11 mx-auto">
				<div
					class="row justify-content-center">

					{# 1ere colonne #}
					<div class="col-lg-7">
						{{ form_start(formView, {
							'method': 'POST',
							'name' : 'contact_form'}) }}
						<div class="row mb-2">
							<div class="col">


								{{ form_widget(formView.typeUser) }}
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-12 col-sm-6 mb-formulaire">{{ form_row(formView.societe) }}</div>
							<div class="col-12 col-sm-6">{{ form_row(formView.poste) }}</div>
						</div>

						<div class="row mb-2">
							<div class="col-12 col-sm-6 mb-formulaire">{{ form_row(formView.nom) }}</div>
							<div class="col-12 col-sm-6">{{ form_row(formView.prenom) }}</div>
						</div>

						<div class="row mb-2">
							<div class="col">
								{{ form_row(formView.email) }}
							</div>
						</div>
						<div class="row mb-2">
							<div class="col">{{ form_row(formView.telephone) }}</div>
						</div>
						<div class="row mb-2">
							<div class="col">{{ form_row(formView.adresse) }}</div>
						</div>
						<div class="row mb-2">
							<div class="col">{{ form_row(formView.complementAdresse) }}</div>
						</div>
						<div class="row mb-2">
							<div class="col-12 col-sm-6 mb-formulaire">{{ form_row(formView.ville) }}</div>
							<div class="col-12 col-sm-6">{{ form_row(formView.codePostal) }}</div>
						</div>
						<div class="row mb-2">
							<div class="col">{{ form_row(formView.pays) }}</div>
						</div>
						<div class="row mb-2">
							<div class="col">
								{{ form_widget(formView.objet) }}
							</div>
						</div>
						<div class="row mb-2">
							<div class="col">
								{{ form_row(formView.message) }}
							</div>
						</div>

						<p style="font-style: italic">Les champs marqués d’un * sont obligatoires.</p>

						<button type="submit" class="btn btn-primary form-contact">Envoyer le message</button>

						{{ form_end(formView) }}

					</div>

					{# 2eme colonne #}
					<div class="col-12 col-sm-5 col-lg-5 d-block googlemaps">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d168885.17109920242!2d1.5924522480468892!3d48.593938518257396!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4a74471adfe7ab2!2sMARCONNET%20TECHNOLOGIES%E2%84%A2!5e0!3m2!1sfr!2sfr!4v1672922455052!5m2!1sfr!2sfr" width="100%" height="90%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
