{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}

<div class="container-fluid">
	{% for message in app.flashes('success') %}
		<div class="alert alert-success d-flex align-items-center justify-content-center">
			{{ message }}
		</div>
	{% endfor %}
</div>


<div class="container-fluid banniere">
	<div class="container-xl h-100">
		<div class="row h-100 d-flex align-items-center">
			<div class="col-xl-5 ">
				<h1 class="text-center text-md-left">MARCONNET TECHNOLOGIES™</h1>
				<p class="text-center text-md-left">Le spécialiste de la mobilité sur mesure dans le monde du handicap</p>
				<div class="d-none d-sm-block text-center text-md-left">
					<a href="#prodpref" type="button" class="btn btn-primary btn-lg">Découvrir Marconnet technologies™</a>
				</div>
			</div>
			<div class="col-xl-7 d-none d-xl-block overflow-hidden">
				<lottie-player src="{{ asset('images/HomepageMT_V3.json') }}" autoplay loop speed="1" class="mx-auto d-block lottie-tricycle"></lottie-player>
			</div>
		</div>
	</div>
</div>

{# produits préférés #}
<div class="container-xl container-sm">
	<div id="produitpref">
		<div class="row">
			<div class="col-12">
				<h2 style="padding-top: 70px; padding-bottom: 30px;" class="text-center" id="prodpref">Les produits préférés de nos clients</h2>
				<p class="text-center mb-5">Explorez les choix privilégiés de nos clients en matière de matériels de mobilité adaptés, conçus pour faciliter votre quotidien et vous offrir une plus grande indépendance.</p>
			</div>
		</div>
		<div class="row h-100">
			{% for p in tabProduits %}
				<div class="col-md-6 col-lg-6 col-xl-3 mb-4 categorie">
					{% include "product/_product_card.html.twig" %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>


<div
	class="container-xl">

	{# <div class="container-fluid" style=" border-right: 8px solid #0F434E; border-left: 8px solid #0F434E"> #}
	<div id="mon-carousel" class="carousel slide d-none d-sm-block" data-bs-ride="carousel">
		<ol class=" carousel-indicators">
			<li data-bs-target="#mon-carousel" data-bs-slide-to="0" class="active"></li>
			<li data-bs-target="#mon-carousel" data-bs-slide-to="1"></li>
			<li data-bs-target="#mon-carousel" data-bs-slide-to="2"></li>
		</ol>


		<div class="carousel-inner justifier">

			<div class="carousel-item active" data-bs-interval="10000">
				<div class="container">
					<div class="row p-5">
						<div class="mx-auto col-md-8 col-lg-6 order-lg-last d-flex align-items-center">
							<img class="img-fluid" src="{{asset('images/carousel/atto-sport.png')}}" alt=" ">
						</div>
						<div class="col-lg-6 mb-0 d-flex align-items-center">
							<div class="text-align-left align-self-center desc-carousel">
								<h2>Scooter électrique Atto Sport</h2>
								<p>Un moyen de transport pratique, écologique et compact pour vos déplacements urbains.</p>
								<p class="d-none d-lg-block">Le scooter électrique pliable Atto Sport est le moyen de transport idéal pour vos déplacements urbains. Compact, léger et doté d'une batterie au lithium-ion offrant une autonomie d'environ 35 km, il est facile à ranger dans un coffre de voiture ou sous un bureau.
									<br>Optez pour l'Atto Sport et profitez d'un mode de transport pratique, écologique et économique en ville.</p>
								<a href="{{ path('product_show_no_utilisation', {'category_slug': 'scooters', 'slug': 'scooter-electrique-3-roues-atto-sport', 'id': 21}) }}">
									<div class="btn btn-primary btn-lg">Voir le produit</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="carousel-item" data-bs-interval="10000">
				<div class="container">
					<div class="row p-5">
						<div class="mx-auto col-md-8 col-lg-6 order-lg-last">
							<img class="img-fluid" src="{{asset('images/carousel/crossbike.jpg')}}" alt=" ">
						</div>
						<div class="col-lg-6 mb-0 d-flex align-items-center">
							<div class="text-align-left align-self-center desc-carousel">
								<h2>Crossbike Stricker</h2>
								<p>Une solution tout-terran pour les personnes à mobilité réduite.</p>
								<p class="d-none d-lg-block">La Crossbike de Stricker est une roue supplémentaire tout-terrain que l'on peut greffer à l'avant d'un fauteuil roulant, transformant ainsi le fauteuil en un handbike à trois roues.
									<br>Cette solution innovante offre une plus grande liberté de mouvement pour explorer des terrains variés en ville ou en pleine nature.
									<br>La Crossbike est facile à monter et à démonter, équipée de pneus larges et d'une suspension adaptée pour une conduite confortable et stable. Choisissez la Crossbike de Stricker pour une solution pratique, polyvalente et tout-terrain pour vos besoins de mobilité.</p>
								<a href="{{ path('product_show_no_utilisation', {'category_slug': 'handbikes', 'utilisation_slug': 'handbikes-tout-electrique', 'slug': 'handbike-crossbike-16','id': 31}) }}">
									<div class="btn btn-primary btn-lg">Voir le produit</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item" data-bs-interval="10000">
				<div class="container">
					<div class="row p-5">
						<div class="mx-auto col-md-8 col-lg-6 order-lg-last">
							<img class="img-fluid" src="{{asset('images/carousel/fun2go.png')}}" alt="">
						</div>
						<div class="col-lg-6 mb-0 d-flex align-items-center">
							<div class="text-align-left align-self-center desc-carousel">
								<h2>Tricycle Fun 2 Go</h2>
								<p>Un tricycle tandem pour des sorties à deux en toute convivialité</p>
								<p class="d-none d-lg-block">Le Fun 2 Go de Van Raam est un tricycle tandem pour deux personnes, offrant une solution de mobilité conviviale et pratique pour vos sorties en ville ou en pleine nature.
									<br>Disponible avec un moteur électrique en option et un siège pivotant pour un accès facile, le Fun 2 Go est également un choix idéal pour les personnes ayant des besoins de mobilité spécifiques.
									<br>Optez pour le Fun 2 Go de Van Raam et profitez d'une solution de mobilité pratique pour vos sorties à deux.</p>
								<a href="{{ path('product_show_no_utilisation', {'category_slug': 'tricycles-vanraam', 'utilisation_slug': 'tricycles-vanraam-tandem', 'slug': 'tricycle-tandem-fun2go','id': 35}) }}">
									<div class="btn btn-primary btn-lg">Voir le produit</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#mon-carousel" role="button" data-bs-slide="prev">
			<i class="fas fa-chevron-left"></i>
		</a>
		<a class="carousel-control-next text-decoration-none w-auto pe-3" href="#mon-carousel" role="button" data-bs-slide="next">
			<i class="fas fa-chevron-right"></i>
		</a>
	</div>
</div>
{# </div> #}
<div
	class="container-xl">

	{# a propos #}
	<div class="a_propos">
		<div class="row">
			<div class="col-12 text-center text-md-left">
				<h2>À propos de Marconnet technologies™</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center text-md-left">
				<p>Marconnet technologies™ est spécialisée dans la mobilité et unique sur le marché depuis plus de 18 ans.</p>
				<p>Nous commercialisons des matériels pour améliorer le déplacement des gens en perte de mobilité.</p>
			</div>
		</div>
		<div class="row h-100" style="padding-top: 40px; padding-bottom: 40px">
			{% include "_home_apropos.html.twig" with {
					'image' : 'conseil.png',
					'titre' : 'Conseils personnalisés',
					'contenu' : 'Contactez-nous avant l\'achat pour des conseils adaptés à vos besoins et un accompagnement sur-mesure.'
				} %}
			{% include "_home_apropos.html.twig" with {
					'image' : 'innovation.png',
					'titre' : 'Des produits innovants',
					'contenu' : 'Sélection rigoureuse de fabricants uniques par gamme pour proposer les meilleures innovations du marché.'
				} %}
			{% include "_home_apropos.html.twig" with {
					'image' : 'client.png',
					'titre' : 'Nos clients',
					'contenu' : 'Nos clients incluent à la fois des professionnels de la santé et des particuliers, grâce à nos produits de qualité adaptés à tous.'
				} %}
			{% include "_home_apropos.html.twig" with {
					'image' : 'services.png',
					'titre' : 'Nos services',
					'contenu' : 'Vente, location et réparation de matériel, assurées par notre atelier expert et dédié.'
				} %}
			</div>
			<div class="row">
				<div class="col-12 d-flex justify-content-center">
					{# <button class="btn btn-primary btn-lg btn-block d-none d-md-block" type="button">En savoir plus sur Marconnet technologies™</button>
					<button class="btn btn-primary btn-sm btn-block d-md-none" type="button">En savoir plus sur Marconnet tefffchnologies™</button> #}
					<a class="btn btn-primary btn-lg btn-block d-none d-md-block" href="{{path("about")}}">En savoir plus sur Marconnet technologies™</a>
					<a class="btn btn-primary btn-sm btn-block d-md-none" href="{{path("about")}}">En savoir plus sur Marconnet technologies™</a>					
				</div>
			</div>
		</div>
	</div>

	{# test de materiel #}
	<div class="text-center test_materiel">
		<h2>Testez le matériel avant de l'acheter.</h2>
		<div class="col-lg-6 mx-auto">
			<p class="mb-4">Assurez-vous que le matériel soit parfaitement adapté à vous en essayant nos produits. Vous pouvez venir au showroom, ou alors, c'est le showroom qui viendra à vous.</p>
			{# <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				<a class="btn btn-primary btn-lg px-4 gap-3" href="{{path('demonstration')}}">Je souhaite tester le matériel</a>
			</div> #}

			<div class="col-12 d-flex justify-content-center">
				{# <button class="btn btn-primary btn-lg btn-block d-none d-md-block" type="button">Je souhaite tester le matériel</button>
				<button class="btn btn-primary btn-sm btn-block d-md-none" type="button">Je souhaite tester le matériel</button> #}
				<a class="btn btn-primary btn-lg btn-block d-none d-md-block" href="{{path("demonstration")}}">Je souhaite tester le matériel</a>
				<a class="btn btn-primary btn-sm btn-block d-md-none" href="{{path("demonstration")}}">Je souhaite tester le matériel</a>

			</div>
		</div>
	</div>

	<div
		class="container-xl">

		{# entreprises qui nous font confiance #}
		<div class="confiance text-center">
			<div class="row">
				<div class="col-12">
					<h2>Ils nous ont fait confiance</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<p>Depuis plus de 15 ans, Marconnet technologies™ travaille avec des acteurs importants du monde de la santé.
						<br>Nous sommes fiers d’accompagner des marques leaders.</p>
				</div>
			</div>
			<div class="partners">
			<h3>Les établissements de santé</h3>
				<div class="row h-100">
						{% include "shared/_card_confiance.html.twig" with {
						'nom' : 'DomusVi',
						'image' : asset('images/revend/domusvi.png'),
						'website' : 'https://www.domusvi.com/'
					} %}

						{% include "shared/_card_confiance.html.twig" with {
						'nom' : 'Korian',
						'image' : asset('images/revend/korian.png'),
						'website' : 'https://www.korian.fr/'
					} %}

						{% include "shared/_card_confiance.html.twig" with {
						'nom' : 'Orpea',
						'image' : asset('images/revend/orpea.png'),
						'website' : 'https://www.orpea-groupe.com/'
					} %}

						{% include "shared/_card_confiance.html.twig" with {
						'nom' : 'Adapei',
						'image' : asset('images/revend/adapei.png'),
						'website' : 'https://www.adapei72.asso.fr/'
					} %}

						{% include "shared/_card_confiance.html.twig" with {
						'nom' : 'Perce-Neige',
						'image' : asset('images/revend/perce-neige2.png'),
						'website' : 'https://www.perce-neige.org/'
					} %}
						
						{% include "shared/_card_confiance.html.twig" with {
						'nom' : 'Fondation Anais',
						'image' : asset('images/revend/fondation-anais.jpg'),
						'website' : 'https://www.fondation-anais.org//'
					} %}
					
				</div>

				<h3>Les prestataires de santé</h3>
				<div class="row h-100">
					{% include "shared/_card_confiance.html.twig" with {
					'nom' : 'Bastide',
					'image' : asset('images/revend/bastide.png'),
					'website' : 'https://www.bastideleconfortmedical.com/'
				} %}

					{% include "shared/_card_confiance.html.twig" with {
					'nom' : 'Harmonie Médical Service',
					'image' : asset('images/revend/hms.png'),
					'website' : 'https://www.harmonie-medical-service.fr/'
				} %}

					{% include "shared/_card_confiance.html.twig" with {
					'nom' : 'Oxypharm',
					'image' : asset('images/revend/oxypharm.png'),
					'website' : 'https://www.vitadomia.com/'
				} %}

					{% include "shared/_card_confiance.html.twig" with {
					'nom' : 'Paramat',
					'image' : asset('images/revend/paramat.png'),
					'website' : 'https://www.paramat.com/'
				} %}
				{% include "shared/_card_confiance.html.twig" with {
					'nom' : 'La Vitrine Médicale',
					'image' : asset('images/revend/vitrine-med.png'),
					'website' : 'https://www.lavitrinemedicale-lpa.fr//'
				} %}

				</div>

			</div>

		</div>
	</div>


	<div class="container-fluid newsletter">
		<div class="container col-xxl-8 px-4 py-5">
			<div class="row flex-lg-row-reverse align-items-center g-5 py-1">
				<div class="col-10 col-sm-8 col-lg-6 d-none d-lg-block">
					<lottie-player src="https://assets9.lottiefiles.com/packages/lf20_qSqxjDDxpS.json" autoplay loop speed="1" class="mx-auto d-block" style="height: 450px"></lottie-player>
				</div>
				<div class="col-lg-6">
					<h2 class="lh-1 mb-3">Inscrivez-vous à notre newsletter</h2>
					<p>Recevez régulièrement nos actualités et tenez-vous informé des nouveautés.</p>
					<div class="d-grid gap-2 d-md-flex justify-content-md-start mt-4">

						{{ form_start(newsletterForm, { 'attr': { 'class': 'input-group flex-nowrap mb-3' } }) }}
						<span class="input-group-text " id="basic-addon1">@</span>
						{{ form_widget(newsletterForm.email, { 'attr': { 'class': 'form-control h-100', 'placeholder': 'Votre email', 'aria-label': 'Username', 'aria-describedby': 'basic-addon1' } }) }}
						{# <button class="btn btn-primary btn-lg" type="submit">Je m'inscris</button> #}

						<button class="btn btn-primary btn-lg d-none d-lg-block" type="submit">Je m'inscris</button>
						<button class="btn btn-primary btn-sm d-lg-none" type="submit">Je m'inscris</button>
						{# on utilise 2 boutons pour le responsive du bouton, la taille du bouton s'adapte à la taille de l'écran #}

						{{ form_end(newsletterForm) }}

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
