{% extends 'admin.html.twig' %}

{% block title %}Gestionnaire des fournisseurs{% endblock %}

{% block body %}

    <div class="container-xl mt-3 mb-3">
        <h4>Gestionnaire des fournisseurs</h4>

        <a href="{{ path('app_fournisseur_new') }}" class="btn btn-primary mb-3">Créer un nouveau fournisseur</a>
        <a href="{{ path('admin_fournisseur_order_display') }}" class="btn btn-primary mb-3">Gérer l'ordre d'affichage des fournisseurs</a>

        {% if pagination.items %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Libelle</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fournisseur in pagination.items %}
                        <tr>
                            <td>{{ fournisseur.id }}</td>
                            <td>{{ fournisseur.libelle }}</td>
                            <td>
                                <a href="{{ path('app_fournisseur_show', {'id': fournisseur.id}) }}" class="btn btn-outline-primary btn-sm">Voir</a>
                                <a href="{{ path('app_fournisseur_edit', {'id': fournisseur.id}) }}" class="btn btn-outline-primary btn-sm">Éditer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="d-flex justify-content-center my-5">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p>Aucun fournisseur trouvé.</p>
        {% endif %}

    </div>
{% endblock %}
