{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block body %}
	<div class="container-xl">

		<h1>Liste des utilisateurs</h1>

	</div>

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>Prenom</th>
				<th>Nom</th>
				<th>Email</th>
				<th>Roles</th>
				{# <th>Password</th> #}
				<th>Telephone</th>
				<th>Pays</th>
				<th>Adresse</th>
				<th>ComplementAdresse</th>
				<th>Region</th>
				<th>Ville</th>
				<th>CodePostal</th>
				<th>Newsletter</th>
				<th>NomSociete</th>
				<th>Siret</th>
				<th>Civilité</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.prenom }}</td>
					<td>{{ user.nom }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					{# <td>{{ user.password }}</td> #}
					<td>{{ user.telephone }}</td>
					<td>{{ user.pays }}</td>
					<td>{{ user.adresse }}</td>
					<td>{{ user.complementAdresse }}</td>
					<td>{{ user.region }}</td>
					<td>{{ user.ville }}</td>
					<td>{{ user.codePostal }}</td>
					<td>{{ user.newsletter ? 'Yes' : 'No' }}</td>
					<td>{{ user.nomSociete }}</td>
					<td>{{ user.siret }}</td>
					<td>{{ user.civilite ? 'Yes' : 'No' }}</td>
					<td>
						<a href="{{ path('app_admin_crud_show', {'id': user.id}) }}">show</a>
						<a href="{{ path('app_admin_crud_edit', {'id': user.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="18">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="container-xl">

		<a href="{{ path('app_admin_crud_new') }}">Créer un nouvel utilisateur</a>

	</div>


{% endblock %}
