<div class="col-3">
	<div class="card-partners">
		<div class="content-partners">
			<a href="{{ website }}" target="_blank">
				<h2>{{ nom }}</h2>
			</a>
			<h3>{{ cat }}</h3>
			<a href="{{ website }}" target="_blank"><img src=" {{ image }} " alt=" "></a>
		</div>
	</div>

</div>
