<div class="col-3">
	<div class="card-partners">
		<div class="content-partners">
			<a href="{{ website }}" target="_blank">
				<h2>{{ nom }}</h2>
			</a>
			<h3>{{ cat }}</h3>
			<h4>{{ souscat }}</h4>
			<a href="{{ website }}" target="_blank"><img src=" {{ image }} " alt=" "></a>
		</div>
	</div>
</div>

{# <div class="col-3">
	<div class="card-services">
		<div class="content-partners">
			<img src="{{ asset('images/' ~ image ) }}" alt="">
			<h1>{{titre}}</h1>
			<p>{{contenu}}</p>
		</div>
	</div>
</div> #}
