<div
	class="container-fluid maNav">

	{# navbar-top #}
	<div style="padding: 10px" class="container-xl">
		<div class="row row justify-content-between align-items-center">
			<div class="col-auto">
				<a href="{{path("homepage")}}"><img class="navbar_logo" src="{{asset('images/logo_mt_navbar.jpg')}}"></a>
			</div>
			<div class="col-auto">
				<div class="row">
					<div class="col-auto align-items-center">
						<img src="https:picsum.photos/90/90" alt="">
					</div>
					<div class="col-auto">
						<div class="row">
							<div class="col-12">
								Besoin d'aide ?
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<a href="tel:+33245260170">02 45 26 01 70</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-auto">
				<div class="row">
					<div class="col-auto">
						<a href="{{path("about")}}">À propos</a>
					</div>
					<div class="col-auto">
						<a href="{{path("app_actu")}}">Actualités</a>
					</div>
					<div class="col-auto">
						<a href="{{path("contact")}}">Contact</a>
					</div>
					<div class="col-auto">
						<a href="{{path("demonstration")}}">Démonstration</a>
					</div>
					{% if app.user %}
						<div class="col-auto">
							<a href="#">Gérer mon compte</a>
						</div>
					{% else %}
						<div class="col-auto">
							<a href="{{path("app_register")}}">Créer mon compte</a>
						</div>
					{% endif %}


					{% if app.user %}
						<div class="col-auto">
							<a href="{{path("security_logout")}}">Se déconnecter</a>
						</div>
					{% else %}
						<div class="col-auto">
							<a href="{{path('security_login')}}">Se connecter</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{# navbar-bottom #}
<div style="background-color: #0F434E" class="container-fluid">

	<div class="container-xl navbar_bottom">

		<div class="row justify-content-between">
			{% for c in categorieRepository.findAll() %}
				<div class="col-auto">
					<a href="{{path('app_categorie', {'slug': c.slug})}}">{{c.libelle}}</a>
				</div>
			{% endfor %}
			<div class="col-auto">
				<a href="https://www.marconnet-robotique.com/" target="_notblank">Robots</a>
			</div>
			<div class="col-auto">Autres</div>
		</div>
	</div>
</div>
{% if app.user %}
	<div class="container-xl">
		<p>Vous êtes connecté en tant qu'administrateur. Vous possédez donc les droits pour administrer le site.</p>
		<p>Que voulez-vous faire ?</p>
		{% for role in app.user.roles %}
			{% if role is same as 'ROLE_ADMIN' %}
				<ul>
					<li class="in-line">
						<a href=" {{path('app_admin_crud_index')}}">Gérer les utilisateurs</a>
					</li>
					<li class="in-line">
						<a href="#">Gérer les produits</a>
					</li>
					<li class="in-line">
						<a href=" {{path('app_admin_crud_categorie_index')}}">Gérer les catégories</a>
					</li>
					<li class="in-line">
						<a href=" {{path('app_admin_crud_utilisation_index')}}">Gérer les types d'utilisation</a>
					</li>
					<li class="in-line">
						<a href=" {{path('app_admin_crud_avantage_index')}}">Gérer les avantages</a>
					</li>
					<li class="in-line">
						<a href=" {{path('app_admin_crud_marque_index')}}">Gérer les marques</a>
					</li>
				</ul>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
