{# partie admin #}
{% if is_granted('ROLE_ADMIN') %}
	<nav class="navbar navbar-expand-lg navbar-admin d-none d-lg-block" style="padding: 0 !important;">
		<div class="container-xl">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarbottom-toggler">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarbottom-toggler">
				<ul class="navbar-nav mb-2 mb-lg-0 w-100 justify-content-between">

					<li class="nav-item w-100 majuscule house">
						<a href="{{path("app_admin_crud_user_index")}}" class="nav-link mb-2 mb-lg-0">
							UTILISATEURS
						</a>
					</li>

					<li class="nav-item w-100 majuscule house">
						<a href="{{path("app_admin_crud_news_index")}}" class="nav-link mb-2 mb-lg-0">
							ACTU
						</a>
					</li>

					<li class="nav-item w-100 majuscule house">
						<a href="{{path("app_admin_crud_produit_index")}}" class="nav-link mb-2 mb-lg-0">
							PRODUITS
						</a>
					</li>

					<li class="nav-item w-100 majuscule house">
						<a href="{{path("app_admin_crud_categorie_index")}}" class="nav-link mb-2 mb-lg-0">
							CATÉGORIES
						</a>
					</li>

					<li class="nav-item w-100 majuscule house">
						<a href="{{path("app_admin_crud_utilisation_index")}}" class="nav-link mb-2 mb-lg-0">
							UTILISATIONS
						</a>
					</li>

					<li class="nav-item w-100 majuscule house">
						<a href="{{path("app_admin_crud_marque_index")}}" class="nav-link mb-2 mb-lg-0">
							MARQUES
						</a>
					</li>

					<li class="nav-item w-100 majuscule house">
						<a href="{{path("app_document_index")}}" class="nav-link mb-2 mb-lg-0">
							DOCUMENTS
						</a>
					</li>

					<li class="nav-item w-100 majuscule house">
						<a href="{{path("app_fournisseur_index")}}" class="nav-link mb-2 mb-lg-0">
							FOURNISSEURS
						</a>
					</li>
					
					<li class="nav-item w-100 majuscule house">
						<a href="{{path("app_collaborateur_index")}}" class="nav-link mb-2 mb-lg-0">
							COLLABORATEURS
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


{% endif %}

{# navbar top #}

<nav class="navbar navbar-expand-lg navbar-top d-none d-lg-block">
	<div class="container-xl">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbartop-toggler">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div
			class="collapse navbar-collapse" id="navbartop-toggler">
			<!-- Photo -->
			<ul class="navbar-nav mb-2 mb-lg-0">
				<li class="nav-item">
					<a href="{{path("homepage")}}" class="nav-link mb-2 mb-lg-0"><img src="{{asset('images/logo_base_blanc_mt.png')}}" height="50px" alt=""></a>
				</li>
			</ul>

			<!-- Telephone -->
			<div class="ms-auto">
				<div class="row phone">
					<div class="col-auto">
						<i class="fa-solid fa-phone" style="color: white"></i>
					</div>
					<div class="col-auto">
						<a href="tel:+33245260170" class="nav-link telephone">02 45 26 01 70</a>
					</div>
				</div>
			</div>

			<!-- liens -->
			<ul class="ms-auto navbar-nav mb-2 mb-lg-0">
				{% if app.user %}
					<li class="nav-item">
						<a href="{{path("espacepro")}}" class="nav-link mb-2 mb-lg-0 btn-espace-pro">Espace Pro</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a href="{{path("about")}}" class="nav-link mb-2 mb-lg-0">À propos</a>
				</li>
				<li class="nav-item">
					<a href="{{path("app_actu")}}" class="nav-link mb-2 mb-lg-0">Actualités</a>
				</li>
				<li class="nav-item">
					<a href="{{path("contact")}}" class="nav-link mb-2 mb-lg-0">Contact</a>
				</li>
				<li class="nav-item">
					<a href="{{path("demonstration")}}" class="nav-link mb-2 mb-lg-0">Démonstration</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a href="{{path('app_mon_compte')}}" class="nav-link mb-2 mb-lg-0">Gérer mon compte</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a href="{{path("app_register")}}" class="nav-link mb-2 mb-lg-0">Créer mon compte</a>
					</li>
				{% endif %}
				{% if app.user %}
					<li class="nav-item">
						<a href="{{path("security_logout")}}" class="nav-link mb-2 mb-lg-0">Se déconnecter</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a href="{{path('security_login')}}" class="nav-link mb-2 mb-lg-0">Se connecter</a>
					</li>
				{% endif %}

			</ul>

		</div>
	</div>
</nav>

{# navbar bottom #}
<nav class="navbar navbar-expand-lg navbar-bottom sticky-top" style="padding: 0 !important;">
	<div class="container-xl">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarbottom-toggler">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarbottom-toggler">
			<ul
				class="navbar-nav mb-2 mb-lg-0 w-100 justify-content-between">

				<!-- House -->
				<li class="nav-item w-100 majuscule house text-center d-flex align-items-center">
					<a href="{{path("homepage")}}" class="nav-link mb-2 mb-lg-0 w-100 h-100 d-flex align-items-center justify-content-center">
						<i class="fa-solid fa-house"></i>
					</a>
				</li>

				{# Catégories #}
				{# On boucle sur les catégories par ordre descroissant sur l'attribut rang #}
				{% for c in categorieRepository.findBy([], {'rang': 'ASC'}) %}

					{% if c.utilisations is empty %}
						<li class="nav-item dropdown w-100 nav-link-bordure-gauche majuscule text-center d-flex align-items-center">
							<a class="nav-link majuscule w-100 h-100 d-flex align-items-center justify-content-center" href="{{ path('app_categorie', {'slug': c.slug }) }}">
								{{ c.libelle }}
							</a>
						</li>
					{% else %}

						<li class="nav-item dropdown w-100 nav-link-bordure-gauche text-center d-flex align-items-center">
							<a class="nav-link dropdown-toggle majuscule w-100 h-100 d-flex align-items-center justify-content-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								{{ c.libelle }}
							</a>
							<ul class="dropdown-menu">

								<li class="d-md-block">
									<h6 class="dropdown-header">
										<a href="{{ path('app_categorie', {'slug': c.slug}) }}">Voir tous les
											{{c.libelle}}</a>
									</h6>
								</li>


								{% for utili in c.utilisations %}
									<li>
										<hr class="dropdown-divider">
									</li>
									<li>
										<a class="dropdown-item" href="{{path('app_utilisation', {'category_slug' : c.slug, 'utilisation_slug' : utili.slug})}}"><img src="{{ utili.image }}" height="80px" alt="" class="d-none d-sm-inline">{{utili.libelle}}</a>
									</li>
								{% endfor %}

							</ul>
						</li>
					{% endif %}
				{% endfor %}


				<!-- Robots -->
				<li class="nav-item w-100 nav-link-bordure-gauche majuscule text-center d-flex align-items-center">
					<a href="https://www.marconnet-robotique.com/" class="nav-link mb-2 mb-lg-0 w-100 h-100 d-flex align-items-center justify-content-center" target="_blank">Robots</a>
				</li>

				<li class="d-flex align-items-center nav-link-bordure-gauche" style="padding-left: 15px; color: white">
					<div class="h-100 d-flex align-items-center">
						<i class="fa-solid fa-magnifying-glass"></i>
					</div>
					<div class="h-100 d-flex align-items-center form-mb-3" style="margin-bottom: 0 !important">
						{{ form_start(search_form(), {'action': path('search')}) }}
						{{ form_end(search_form()) }}
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="d-lg-none">
	<div class="navbar-minimaliste">
		<div class="container-lg">
			<div class="justify-content-center pt-1 pb-1">
				<a class="mx-2" href="{{path("about")}}">À propos</a>
				<a class="mx-2" href="{{path("app_actu")}}">Actualités</a>
				<a class="mx-2" href="{{path("contact")}}">Contact</a>
				<a class="mx-2" href="{{path("demonstration")}}">Démonstration</a>
				{% if app.user %}
					<a class="mx-2" href="{{path('app_mon_compte')}}">Gérer mon compte</a>
					<a class="mx-2" href="{{path("security_logout")}}">Se déconnecter</a>
					<a class="mx-2 btn-espace-pro" href="{{path("security_logout")}}">Espace pro</a>
				{% else %}
					<a class="mx-2" href="{{path("app_register")}}">Créer mon compte</a>
					<a class="mx-2" href="{{path('security_login')}}">Se connecter</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
