<div id="wrap_top">
	<ul class="navbar">
		<li>
			<a href="{{path("homepage")}}"><img src="https://picsum.photos/80/80"></a>
		</li>
		<li>
			<img src="https://picsum.photos/80/80">
		</li>
		<li>
			Besoin d'aide ?
		</li>
		<li>
			02 45 26 01 70
		</li>
		<li>
			<a href="{{path("about")}}">À propos</a>
		</li>
		<li>
			Actualités
		</li>
		<li>
			<a href="{{path("contact")}}">Contact</a>
		</li>
		<li>
			<a href="{{path("demonstration")}}">Démonstration</a>
		</li>
		<li>
			Créer mon compte
		</li>
		<li>
			<a href="{{path("security_login")}}">Se connecter</a>
		</li>
	</ul>
</div>


<div id="wrap_bottom">
	<ul class="navbar">
		<li>
			HANDBIKES
		</li>
		<li>
			TRICYCLES VANRAAM
		</li>
		<li>
			DRAISIN
		</li>
		<li>
			TRICYCLES UTILITAIRES
		</li>
		<li>
			SCOOTERS
		</li>
		<li>
			FAUTEIL TOUS TERRAINS
		</li>
		<li>
			<a href="https://www.marconnet-robotique.com/">ROBOTS
			</a>
		</li>
		<li>
			AUTRES
		</li>
	</ul>
</div>
