<div class="container-fluid footer">

	<div
		class="container-xl">

		{# footer partie 1 #}
		<div class="row top_footer">
			<div class="row justify-content-between align-items-center bottom_footer">
				<div class="col-auto">
					<img class="footer_logo" src="{{asset('images/logo_base_blanc_mt.png')}}" alt="">
				</div>
				<div class="col-auto">
					<div class="row align-items-center">
						<div class="col-auto">
							<p>Suivez-nous sur les réseaux sociaux</p>
						</div>
						<div class="col-auto">
							<a href="https://www.youtube.com/channel/UCBVjkgVyozExIOlx5O40zxQ"><img class="logo" src="{{asset('images/youtube-logo.svg')}}" alt=""></a>
						</div>
						<div class="col-auto">
							<a href="https://fr-fr.facebook.com/marconnettechnologies/"><img class="logo" src="{{asset('images/facebook-logo.svg')}}" alt=""></a>
						</div>
						<div class="col-auto">
							<a href="https://www.instagram.com/marconnet_technologies/"><img class="logo" src="{{asset('images/instagram-logo.svg')}}" alt=""></a>
						</div>
						<div class="col-auto">
							<a href="https://fr.linkedin.com/company/marconnet-technologies%E2%84%A2"><img id="test" class="logo" src="{{asset('images/linkedin-logo.svg')}}" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# footer partie 2 #}
		<div class="row content_footer">
			<div class="col-3">
				<div class="row titreFooter">
					<p>Revendeurs</p>
				</div>
				<div class="row contentFooter">
					<p>Espace revendeurs</p>
				</div>
				<div class="row contentFooter">
					<p>S'inscrire</p>
				</div>
				<div class="row contentFooter">
					<p>Se connecter</p>
				</div>
			</div>

			<div class="col-3">
				<div class="row titreFooter">
					<p>Maconnet technologies™</p>
				</div>
				<div class="row contentFooter">
					<p>Qui sommes-nous ?</p>
				</div>
				<div class="row contentFooter">
					<p>S'inscrire à la newsletter</p>
				</div>
				<div class="row contentFooter">
					<p>Itinéraire et plan d'accès</p>
				</div>
				<div class="row contentFooter">
					<p>Notre catalogue</p>
				</div>
				<div class="row contentFooter">
					<p>Nos moyens de livraison</p>
				</div>
			</div>

			<div class="col-3">
				<div class="row titreFooter">
					<p>À propos</p>
				</div>
				<div class="row contentFooter">
					<p>Mentions légales</p>
				</div>
				<div class="row contentFooter">
					<p>CGV</p>
				</div>
			</div>

			<div class="col-3">
				<div class="row titreFooter">
					<p>Contact</p>
				</div>
				<div class="row contentFooter">
					<p>12 rue des Longs Reages</p>
				</div>
				<div class="row contentFooter">
					<p>28 230 Épernon</p>
				</div>
				<div class="row contentFooter">
					<div class="col-auto">
						<img src="{{ asset('monlogo') }}"/>
					</div>
					<div class="col-auto contentFooter">
						<p>02 45 26 01 70</p>
					</div>
				</div>
			</div>
		</div>

		{# footer partie  #}
		<div class="row bottom_footer">
			<div class="col-12">
				<p>Copyright marconnet technologies™ 2022</p>
			</div>
		</div>
	</div>
</div>
