{% extends 'base.html.twig' %}

{% block title %}Espace professionnel
{% endblock %}

{% block body %}

	<div class="container-xl">
		<div class="espace-pro">
			<h2>Nos tarifs et documentations, destinés aux prestataires de santé</h2>
			<p>Découvrez toutes nos
				<span class="color-sky-blue">documentations</span>
				avec les prix hors taxe sur nos produits et nos marques.</p>
			<p>
				<span class="color-sky-blue">La documentation technique</span>
				concernant les matériels de mobilité est désormais disponible en téléchargement sur notre site pour les professionnels connectés. Ces documents fournissent des informations détaillées sur
				<span class="color-sky-blue">les caractéristiques, les fonctionnalités et les spécifications</span>
				des matériels de mobilité que nous proposons.</p>
			<p>Nous sommes convaincus que ces ressources seront d'une grande aide pour les professionnels qui cherchent à approfondir leurs connaissances sur les produits que nous offrons. Nous espérons que ces documents faciliteront la prise de décision et contribueront à améliorer la qualité de service que nous fournissons à nos clients.</p>

			<div class="documents-fournisseurs">
				{% for fournisseur in fournisseurs %}
					<div class="row">
						<div class="col-12 mx-auto">
							<div class="d-flex justify-content-between align-items-center mb-3 mt-5">
							<h4 class="mb-0">{{ fournisseur.libelle }}</h4>
							<img src="{{ fournisseur.image }}" alt="Image de {{ fournisseur.libelle }}" class="img-fluid" style="max-width: 50px;">
						</div>
							{% for document in fournisseur.documents %}
								<li class="list-group-item d-flex justify-content-between align-items-center mb-2">
									<span>{{ document.name }}</span>
									<a href="{{ document.url }}" class="btn btn-sm btn-outline-primary" download>Télécharger</a>
								</li>
							{% endfor %}

						</ul>
						</div>
					</div>
				{% endfor %}
			</div>
			
    	</div>
	</div>
{% endblock %}
