{% extends 'base.html.twig' %}

{% block title %}Gestionnaire des marques
{% endblock %}

{% block body %}

	<div class="container-xl">
		<h4>Gestionnaire des marques</h4>
		
		<a href="{{ path('app_admin_crud_marque_new') }}" class="btn btn-primary mb-3">Créer une nouvelle marque</a>

		{% if pagination.items %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Libelle</th>
                        <th>Catalogue</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for marque in pagination.items %}
                        <tr>
                            <td>{{ marque.id }}</td>
                            <td>{{ marque.libelle }}</td>
                            <td>{{ marque.catalogue }}</td>
                            <td>
                                <a href="{{ path('app_admin_crud_marque_show', {'id': marque.id}) }}" class="btn btn-outline-primary btn-sm">Voir</a>
                                <a href="{{ path('app_admin_crud_marque_edit', {'id': marque.id}) }}" class="btn btn-outline-primary btn-sm">Éditer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="d-flex justify-content-center my-5">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p>no records found</p>
        {% endif %}
	</div>

{% endblock %}
